@import './fonts.css';

* {
  box-sizing: border-box;
}

.radix-themes {
  --default-font-family: 'General Sans', sans-serif;
  --heading-font-family: 'General Sans', sans-serif;
  --code-font-family: 'Monaco', monospace;

  /* color */
  --brand-color: #e42b24;
  --red-9: var(--brand-color);
  --text-color-heading: var(--brand-color);

  .rt-Button:not(.rt-variant-surface) {
    cursor: pointer;
    transition: all ease-in 0.3s;
    border: 1px solid var(--brand-color);
  }

  .rt-Button:not(.rt-variant-surface):hover {
    background-color: white;
    color: var(--brand-color);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  }

  .rt-Button:not(.rt-variant-surface):active {
    background-color: var(--brand-color);
    color: white;
  }

  .rt-Button.NextGen-outlineButton:not(.rt-variant-surface):hover {
    background-color: var(--brand-color);
    color: white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

html {
  font-family: var(--default-font-family);
}

body {
  margin: 0;
}
