html {
  font-family: 'General Sans';
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

.radix-themes {
  --red-1: blue;
}
