@import './fonts.css';

* {
  box-sizing: border-box;
}

.radix-themes {
  --default-font-family: 'General Sans', sans-serif;
  --heading-font-family: 'General Sans', sans-serif;
  --code-font-family: 'Monaco', monospace;

  /* color */
  --brand-color: #e42b24;
  --red-9: var(--brand-color);
  --text-color-heading: var(--brand-color);

  .rt-Button {
    padding: 13px 20px;
    height: 14px;
    box-sizing: content-box;
  }

  .rt-Button:not(.rt-variant-surface) {
    cursor: pointer;
    transition: all ease-in 0.3s;
    border: 1px solid var(--brand-color);
  }

  .rt-Button:not(.rt-variant-surface):hover {
    background-color: #FFFFFF;
    color: var(--brand-color);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  }

  .rt-Button:not(.rt-variant-surface):active {
    background-color: var(--brand-color);
    color: #FFFFFF;
  }

  .rt-Button.NextGen-outlineButton:not(.rt-variant-surface):hover {
    background-color: var(--brand-color);
    color: #FFFFFF;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  }

  .rt-Button.rt-variant-ghost {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    color: #0C1116;
  }

  .rt-Button.rt-variant-ghost:hover, .rt-Button.rt-variant-ghost.active {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: #FFFFFF;
  }

  .rt-Button.rt-variant-ghost:hover path, .rt-Button.rt-variant-ghost.active path {
    transition: all ease-in 0.3s;
    fill: #FFFFFF;
  }
}

html {
  font-family: var(--default-font-family);
}

body {
  margin: 0;
}
